ansible-core==2.20

# connection libraries
paramiko==3.5.1
ansible-pylibssh

# sanity tests
pycodestyle
pylint
voluptuous

# units
pytest

# utils
yamllint
galaxy_importer
antsibull-changelog
setuptools
